*, 
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}

html {
    // this defines what 1rem is  (that's why it's in base)
	font-size: 62.5%; /* 1rem is 10px; - default 16px would equate 100% */
}

body {
	box-sizing: border-box;
}