*, 
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}

html {
    // this defines what 1rem is  (that's why it's in base)
	font-size: 62.5%; /* 1rem is 10px; - default 16px would equate 100% */

	@include respond(tab-land) { // width less than 1200
		font-size: 56.25%; // 1rem = 9px 9/16px = 56.25%
	} 

	@include respond(tab-port) { // width less than 900
		font-size: 50%; // 1rem = 8px 8/16 = 50%
	}

	// need to write the bigger one first, because both would apply
	// last declaration needs to be applied, so we need to put the smaller one last

	// if we write a mobile first site, we need to write the lower ones first and then write the bigger ones
	@include respond(big-desktop) {
		font-size: 75%; // 1rem = 12, 12/16 = 75%
	}
}

body {
	box-sizing: border-box;
	padding: 3rem;

	@include respond(tab-port) {
		padding: 0;
	}
}

::selection {
	background-color: $color-primary;
	color: $color-white;
}